In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import mutual_info_regression
import re
from sklearn.feature_selection import SelectKBest, f_classif, f_regression, mutual_info_regression
from sklearn.feature_selection import RFECV, RFE
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import shap
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import optuna
from metrics import *
from xgboost import XGBClassifier, XGBRegressor
from scipy.spatial import distance

/home/kamila/.pyenv/versions/3.9.0/lib/python3.9/site-packages/xgboost/core.py:265: FutureWarning: Your system has an old version of glibc (< 2.28). We will stop supporting Linux distros with glibc older than 2.28 after **May 31, 2025**. Please upgrade to a recent Linux distro (with glibc 2.28+) to use future versions of XGBoost.
Note: You have installed the 'manylinux2014' variant of XGBoost. Certain features such as GPU algorithms or federated learning are not available. To use these features, please upgrade to a recent Linux distro with glibc 2.28+, and install the 'manylinux_2_28' variant.
  warnings.warn(

In [2]:
dfx = pd.read_csv('dataset_reduzido2.csv')#, encoding='ISO-8859-1', sep=";")

In [3]:
#pd.set_option('display.max_columns', None)
dfx

,ALUNOS_PORCENTAGEM_Q004_Mae_Nao_Sabe_Escolaridade,ALUNOS_PORCENTAGEM_Q010A_Sim_Tv_A_Cabo,ALUNOS_PORCENTAGEM_Q005_Pai_Nao_Sabe_Escolaridade,ALUNOS_PORCENTAGEM_Q007_Contratam_Domestica_Vez_Em_Quando,ALUNOS_PORCENTAGEM_Q017B_Fazer_Curos_Mais_2_Hora,ALUNOS_PORCENTAGEM_Q009A_Nenhum_Geladeira_Em_Casa,ALUNOS_PORCENTAGEM_Q003A_Sim_moro_com_mae_madrasta,ALUNOS_PORCENTAGEM_Q002_Branca,ALUNOS_PORCENTAGEM_Q009B_1_Tablet_Em_Casa,ALUNOS_PORCENTAGEM_Q018C_Le_Quadrinhos_Quase_Nunca,...,PROFESSOR_PORCENTAGEM_Q001_Parda,PROFESSOR_PORCENTAGEM_Q115_Estimula_Alunos_Expressarem_Opinioes_Semanalmente,PROFESSOR_PORCENTAGEM_Q022_Assisto_Telejornal_Sempre,PROFESSOR_PORCENTAGEM_Q080_Vezes_Reuniu_Conselho_Clas_Mais_Tres_Vezes,PROFESSOR_PORCENTAGEM_Q094_Alunos_Respeitam_Acordos_Em_Sala_Discordo,PROFESSOR_PORCENTAGEM_Q075_Projeto_Politico_Pedagogico_Discutido_Reunioes_Sim,PROFESSOR_PORCENTAGEM_Q064_Aprimorar_Proces_Avalia_Sala_Contribiu_Mt,PROFESSOR_PORCENTAGEM_Q095_Alunos_Chegam_Pontualmente_Concordo,ALUNOS_ID_ESCOLA,MEDIA_FINAL
0,0.119718,0.338028,0.211268,0.091549,0.056338,0.014085,0.732394,0.225352,0.161972,0.591549,...,0.250000,0.125,0.375000,0.375000,0.062500,0.375000,0.062500,0.375000,11025638,269.215
1,0.053333,0.366667,0.140000,0.100000,0.120000,0.000000,0.786667,0.353333,0.100000,0.586667,...,0.200000,0.100,0.200000,0.200000,0.200000,0.200000,0.100000,0.100000,11007885,302.270
2,0.102679,0.303571,0.214286,0.084821,0.196429,0.004464,0.812500,0.258929,0.147321,0.531250,...,0.142857,0.000,0.000000,0.095238,0.047619,0.095238,0.142857,0.047619,11007893,278.880
3,0.204082,0.255102,0.408163,0.040816,0.132653,0.020408,0.683673,0.153061,0.071429,0.367347,...,0.500000,0.125,0.250000,0.500000,0.000000,0.375000,0.250000,0.375000,11026197,248.260
4,0.093897,0.403756,0.201878,0.136150,0.178404,0.000000,0.826291,0.319249,0.112676,0.582160,...,0.000000,0.050,0.050000,0.250000,0.050000,0.250000,0.000000,0.150000,11026278,288.490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4602,0.092391,0.358696,0.255435,0.043478,0.228261,0.010870,0.858696,0.211957,0.184783,0.483696,...,0.300000,0.000,0.000000,0.200000,0.100000,0.200000,0.000000,0.000000,53012542,282.615
4603,0.061856,0.412371,0.134021,0.072165,0.237113,0.000000,0.876289,0.226804,0.164948,0.536082,...,0.250000,0.000,0.250000,0.500000,0.250000,0.250000,0.000000,0.250000,53013840,280.915
4604,0.059701,0.373134,0.164179,0.059701,0.343284,0.000000,0.791045,0.149254,0.164179,0.522388,...,0.000000,0.250,0.000000,0.500000,0.250000,0.250000,0.000000,0.000000,53014308,298.720
4605,0.082474,0.443299,0.257732,0.072165,0.175258,0.000000,0.783505,0.247423,0.206186,0.639175,...,0.125000,0.125,0.000000,0.250000,0.000000,0.125000,0.250000,0.000000,53051009,297.660
4606,0.083871,0.419355,0.187097,0.064516,0.193548,0.000000,0.890323,0.232258,0.219355,0.541935,...,0.428571,0.000,0.285714,0.571429,0.000000,0.357143,0.357143,0.000000,53068092,280.665

# Calcular as distância entre as escolas

In [4]:
df1 = dfx[dfx['ALUNOS_ID_ESCOLA'] != 31118672]

In [5]:
dfx = df1[df1['ALUNOS_ID_ESCOLA'] != 31081485]

In [6]:
df2 = dfx.drop(columns = ['ALUNOS_ID_ESCOLA', 'MEDIA_FINAL'])

In [7]:
scaler = StandardScaler()
standard_df2 = scaler.fit_transform(df2)
standard_df2

array([[-0.36874521, -0.79803117, -0.59042231, ..., -0.53491811,
        -0.78200059,  0.2330795 ],
       [-1.38170122, -0.59584697, -1.43320427, ..., -1.23512905,
        -0.602202  , -0.89784694],
       [-0.62875141, -1.04129144, -0.55473137, ..., -1.65430295,
        -0.39671789, -1.1132615 ],
       ...,
       [-1.28453067, -0.55018609, -1.14727193, ..., -1.03506878,
        -1.08166492, -1.30909292],
       [-0.93704575, -0.05483251, -0.0409536 , ..., -1.53521946,
         0.11699238, -1.30909292],
       [-0.91573314, -0.22387507, -0.87625681, ..., -0.6063682 ,
         0.63070265, -1.30909292]])

In [8]:
distance_matrix = distance.cdist(standard_df2, standard_df2, 'euclidean')
distance_matrix

array([[ 0.        ,  8.21837823,  6.11558978, ..., 10.30783554,
         9.5703422 ,  9.15552748],
       [ 8.21837823,  0.        ,  5.49138173, ...,  7.57182968,
         6.96348779,  6.75529999],
       [ 6.11558978,  5.49138173,  0.        , ...,  7.42888143,
         6.44583237,  6.27294316],
       ...,
       [10.30783554,  7.57182968,  7.42888143, ...,  0.        ,
         7.377834  ,  6.15888118],
       [ 9.5703422 ,  6.96348779,  6.44583237, ...,  7.377834  ,
         0.        ,  6.57096134],
       [ 9.15552748,  6.75529999,  6.27294316, ...,  6.15888118,
         6.57096134,  0.        ]])

In [9]:
matrix_distance_sort = np.argsort(distance_matrix, axis=1)
matrix_distance_sort

array([[   0,    7,   24, ...,  104,  103,  102],
       [   1,    4,   12, ...,  104,  103,  102],
       [   2, 4400, 1625, ...,  104,  103,  102],
       ...,
       [4604, 4603, 4599, ...,  104,  103,  102],
       [4605, 4598, 4595, ...,  104,  103,  102],
       [4606, 4599, 2572, ...,  104,  103,  102]])

In [10]:
distance_matrix.mean()

np.float64(9.704859660289651)

In [11]:
distance_matrix.std()

np.float64(2.4115760353102127)

In [12]:
upper_triangle = distance_matrix[np.triu_indices_from(distance_matrix, k=1)]  # k=1 exclui a diagonal principal
upper_triangle

array([8.21837823, 6.11558978, 9.02617803, ..., 7.377834  , 6.15888118,
       6.57096134])

In [13]:
upper_triangle.shape

(10609921,)

In [14]:
distance_matrix.shape

(4607, 4607)

In [15]:
upper_triangle.mean()

np.float64(9.706966664123847)

In [16]:
upper_triangle.std()

np.float64(2.4075940259048396)

distancia_limite = 4
qt = np.sum((distance_matrix < distancia_limite) & (distance_matrix != 0))

print(f"Quantidade de escolas com distância menor que {distancia_limite}: {qt}")

upper_triangle.std() *11

In [17]:
upper_triangle_dist = distance_matrix[np.triu_indices_from(distance_matrix, k=1)]

# Calcula a diferença absoluta das notas para cada par
media_final = dfx['MEDIA_FINAL'].values
diffs_notas = []
for i in range(len(media_final)):
    for j in range(i + 1, len(media_final)):
        diffs_notas.append(abs(media_final[i] - media_final[j]))
diffs_notas = np.array(diffs_notas)

In [18]:
# Limites para as distâncias das características
dist_q1 = np.quantile(upper_triangle_dist, 0.07) # Limite para "semelhantes"
dist_q3 = np.quantile(upper_triangle_dist, 0.99) # Limite para "diferentes"

# Limites para as diferenças de notas
notas_q1 = np.quantile(diffs_notas, 0.07) # Limite para "semelhantes"
notas_q3 = np.quantile(diffs_notas, 0.99) # Limite para "diferentes"

print(f"Distância para ser 'semelhante' deve ser < {dist_q1:.2f}")
print(f"Distância para ser 'diferente' deve ser > {dist_q3:.2f}")
print(f"Diferença de nota para ser 'semelhante' deve ser < {notas_q1:.2f}")
print(f"Diferença de nota para ser 'diferente' deve ser > {notas_q3:.2f}")

Distância para ser 'semelhante' deve ser < 6.62
Distância para ser 'diferente' deve ser > 16.37
Diferença de nota para ser 'semelhante' deve ser < 2.40
Diferença de nota para ser 'diferente' deve ser > 74.59

In [19]:
semelhantes_caracteristicas_notas_diferentes = []
diferentes_caracteristicas_notas_semelhantes = []

ids = dfx['ALUNOS_ID_ESCOLA'].values
media = dfx['MEDIA_FINAL'].values

for i in range(len(dfx)):
    for j in range(i + 1, len(dfx)):
        distancia_ij = distance_matrix[i, j]
        diff_nota_ij = abs(media[i] - media[j])

        # Grupo 1: Características semelhantes, notas diferentes
        if distancia_ij < dist_q1 and diff_nota_ij > notas_q3:
            semelhantes_caracteristicas_notas_diferentes.append((ids[i], ids[j], media[i], media[j], distancia_ij))

        # Grupo 2: Características diferentes, notas semelhantes
        if distancia_ij > dist_q3 and diff_nota_ij < notas_q1:
            diferentes_caracteristicas_notas_semelhantes.append((ids[i], ids[j], media[i], media[j], distancia_ij))

# Criar os DataFrames finais
df_grupo1 = pd.DataFrame(semelhantes_caracteristicas_notas_diferentes, columns=['ID_i', 'ID_j', 'MEDIA_i', 'MEDIA_j', 'Distancia'])
df_grupo2 = pd.DataFrame(diferentes_caracteristicas_notas_semelhantes, columns=['ID_i', 'ID_j', 'MEDIA_i', 'MEDIA_j', 'Distancia'])

In [20]:
df_grupo1

        ID_i      ID_j  MEDIA_i  MEDIA_j  Distancia
0   21243875  26027836  226.320  304.555   6.005406
1   22133682  26027836  227.875  304.555   6.546765
2   22025308  29387019  327.020  245.290   6.293896
3   23225190  29050910  309.895  234.155   6.556933
4   23036010  29410835  299.405  221.910   6.257445
5   23026359  29410835  298.185  221.910   6.438812
6   26027836  29021677  304.555  225.290   6.424191
7   26027836  29410835  304.555  221.910   6.507916
8   26027836  29432510  304.555  229.585   6.017214
9   31001490  31009202  314.680  239.340   6.016512
10  31103187  31009202  314.490  239.340   6.285264
11  31009202  32038755  239.340  317.085   6.139990
12  35000954  35207639  331.050  254.950   6.164632

In [21]:
df_grupo2

         ID_i      ID_j  MEDIA_i  MEDIA_j  Distancia
0    11001496  33006571  264.050  262.255  17.205783
1    11001496  35903814  264.050  264.825  17.542325
2    11001496  41130170  264.050  263.020  16.441619
3    11001496  43019684  264.050  263.830  16.621831
4    11001496  43043119  264.050  263.035  17.291702
..        ...       ...      ...      ...        ...
383  41103289  53001010  286.335  284.885  16.925420
384  41054873  43159028  258.000  259.605  18.653076
385  41054873  51040050  258.000  258.470  17.171366
386  41054873  52033384  258.000  259.145  17.137429
387  42017947  50000233  282.530  280.695  16.762971

[388 rows x 5 columns]

In [22]:
df_grupo1.sort_values(by='Distancia', ascending=True) # características semelhantes e notas diferentes
df_grupo1.to_csv('escola_similar_notas_diferentes.csv', index=False)

        ID_i      ID_j  MEDIA_i  MEDIA_j  Distancia
0   21243875  26027836  226.320  304.555   6.005406
9   31001490  31009202  314.680  239.340   6.016512
8   26027836  29432510  304.555  229.585   6.017214
11  31009202  32038755  239.340  317.085   6.139990
12  35000954  35207639  331.050  254.950   6.164632
4   23036010  29410835  299.405  221.910   6.257445
10  31103187  31009202  314.490  239.340   6.285264
2   22025308  29387019  327.020  245.290   6.293896
6   26027836  29021677  304.555  225.290   6.424191
5   23026359  29410835  298.185  221.910   6.438812
7   26027836  29410835  304.555  221.910   6.507916
1   22133682  26027836  227.875  304.555   6.546765
3   23225190  29050910  309.895  234.155   6.556933

In [23]:
df_grupo2.sort_values(by='Distancia', ascending=False).head(55) # Notas semelhantes e caraterísticas diferentes
df_grupo2.to_csv('escola_diferentes_notas_similar.csv', index=False)

         ID_i      ID_j  MEDIA_i  MEDIA_j  Distancia
17   13001345  21315604  210.585  209.845  30.858968
16   13001345  21370206  210.585  211.345  30.362432
102  15064646  33125341  237.205  236.515  22.446981
71   15064646  22018042  237.205  236.775  22.370754
28   13102290  29047250  219.065  221.125  21.919036
26   13102290  27003108  219.065  220.690  21.810719
100  15064646  31009202  237.205  239.340  21.170357
49   15064646  17054060  237.205  235.765  21.102323
19   13102290  21272689  219.065  219.230  21.063465
96   15064646  31008541  237.205  237.250  20.988482
27   13102290  29526809  219.065  220.785  20.918383
18   13102290  15131130  219.065  219.800  20.879412
99   15064646  31010171  237.205  238.810  20.798193
105  15064646  35013559  237.205  236.365  20.681707
98   15064646  31010111  237.205  238.435  20.533256
20   13102290  21336806  219.065  218.205  20.523659
23   13102290  21275106  219.065  219.300  20.418366
24   13102290  21150508  219.065  220.375  20.331548
104  15064646  35005599  237.205  238.805  20.262884
25   13102290  21143927  219.065  216.905  20.131740
160  21278407  22140379  223.945  222.545  19.968200
107  15064646  51093138  237.205  238.740  19.937805
21   13102290  21025673  219.065  221.215  19.914342
83   15064646  29429889  237.205  235.325  19.800183
278  29181429  41054873  259.685  258.000  19.772661
75   15064646  25078135  237.205  239.015  19.745978
320  31147648  33011311  257.670  256.375  19.658875
78   15064646  27036707  237.205  238.560  19.589907
48   15064646  15109879  237.205  237.510  19.587391
106  15064646  35191905  237.205  239.070  19.481253
58   15064646  21327238  237.205  239.205  19.472858
42   15064646  15542297  237.205  238.660  19.436583
97   15064646  31185001  237.205  236.685  19.402523
87   15064646  29162610  237.205  239.510  19.263479
66   15064646  21131970  237.205  238.770  19.236112
89   15064646  29164826  237.205  235.735  19.225063
74   15064646  25066668  237.205  238.915  19.207172
39   15064646  15043517  237.205  238.720  19.177889
22   13102290  21039810  219.065  221.415  19.168313
47   15064646  15011380  237.205  239.595  19.124158
68   15064646  21126577  237.205  239.390  19.092938
264  29424526  33011311  254.025  256.375  19.047861
36   15064646  15034607  237.205  239.350  18.997964
101  15064646  33047910  237.205  235.995  18.964917
82   15064646  28014812  237.205  236.020  18.929981
145  21036314  33011311  254.840  256.375  18.878411
94   15064646  29284767  237.205  238.840  18.873881
93   15064646  29104580  237.205  235.585  18.864210
86   15064646  29214211  237.205  236.255  18.858189
81   15064646  27015920  237.205  236.905  18.837096
245  26036207  43026630  269.160  266.955  18.803385
90   15064646  29166314  237.205  237.495  18.799346
194  22073418  33011311  255.985  256.375  18.778693
315  31024490  33011311  254.630  256.375  18.749432
80   15064646  27224759  237.205  236.230  18.728656

In [24]:
df_grupo2

         ID_i      ID_j  MEDIA_i  MEDIA_j  Distancia
0    11001496  33006571  264.050  262.255  17.205783
1    11001496  35903814  264.050  264.825  17.542325
2    11001496  41130170  264.050  263.020  16.441619
3    11001496  43019684  264.050  263.830  16.621831
4    11001496  43043119  264.050  263.035  17.291702
..        ...       ...      ...      ...        ...
383  41103289  53001010  286.335  284.885  16.925420
384  41054873  43159028  258.000  259.605  18.653076
385  41054873  51040050  258.000  258.470  17.171366
386  41054873  52033384  258.000  259.145  17.137429
387  42017947  50000233  282.530  280.695  16.762971

[388 rows x 5 columns]